#lowerSection {
  padding-top: 60px;
  background-color: #212419;
}

#lowerSection h1 {
  color: orangered;
  text-align: center;
  font-size: 45px;
  font-weight: 100;
}

#lowerSection p {
  font-family: sans-serif;
  font-weight: 100;
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}

#lowerSection div {
  border: 1px solid white;
  padding: 40px 150px;
  margin-left: 250px;
  margin-right: 250px;
  margin-top: 50px;
}

#lowerSection h2 {
  font-size: 20px;
  font-weight: 100;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 30px;
}

#lowerSection .join {
  border: 1px solid orangered;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  display: inline-block;
  max-width: max-content;
  text-align: center;
  padding: 10px 70px;
  font-size: 18px;
  font-family: 100;
  color: orangered;
}

#lowerSection .join:hover {
  background-color: orangered;
  color: black;
  transition-duration: 0.5s;
}

#lowerSection .information {
  margin-top: 140px;
  margin-left: 80px;
  margin-right: 80px;
  background-color: rgb(0, 0, 21);
  border: 0px solid;
  padding-top: 0px;
}

#lowerSection img {
  width: 180px;
  border-radius: 50%;
  margin-left: 400px;
  position: relative;
  bottom: 100px;
}

#lowerSection h3 {
  color: orangered;
  text-align: center;
  font-size: 35px;
  font-weight: 100;
}

#lowerSection .text {
  position: relative;
  right: 230px;
}

#lowerSection .information p {
  font-size: 22px;
  font-weight: 100;
  font-family: sans-serif;
}

.rm {
  position: relative;
  left: 140px;
}

.footer {
  background-color: orangered;
  padding: 1px 0px;
}

.footer p {
  text-align: center;
  font-size: 15px;
  font-weight: 100;
  color: black;

}